{# vim: filetype=systemd.jinja2 #}
[Service]
User={{ mariadb_user }}
Group={{ mariadb_group }}
PIDFile={{ mariadb_pid_file | ansible.builtin.quote }}
RuntimeDirectory={{ mariadb_pid_file | ansible.builtin.dirname | ansible.builtin.relpath('/run') | ansible.builtin.quote }}
# Apply principle of least privilege
NoNewPrivileges=true
CapabilityBoundingSet=
{% if mariadb_port is ansible.builtin.truthy and mariadb_port | int < 1024 %}
# Allow binding to low ports
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
{% endif %}
ProtectSystem=strict
ProtectHome=true
{% for path in ([mariadb_data_path] + _log_paths) | ansible.builtin.unique %}
ReadWritePaths=-{{ path | ansible.builtin.quote }}
{% endfor %}
{% if mariadb_inaccessible_paths | count %}
{% for path in [mariadb_inaccessible_paths] | ansible.builtin.flatten | ansible.builtin.unique %}
InaccessiblePaths=-{{ path | ansible.builtin.quote }}
{% endfor %}
{% endif %}
PrivateTmp=true
PrivateDevices=true
{% if not mariadb_port is ansible.builtin.truthy %}
PrivateNetwork=true
{% endif %}
{% if [mariadb_extra_groups | default([])] | ansible.builtin.flatten | count == 0 %}
PrivateUsers=true
{% endif %}
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
ProtectProc=invisible
ProtectClock=true
ProtectHostname=true
LockPersonality=true
MemoryDenyWriteExecute=true
RestrictAddressFamilies={% if mariadb_port is ansible.builtin.truthy %}AF_INET AF_INET6 {% endif %}AF_UNIX
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallFilter=@system-service @basic-io @io-event @network-io madvise
SystemCallFilter=~@chown @keyring @memlock @privileged @setuid
SystemCallArchitectures=native
RemoveIPC=true
